# {{.Name}}
<a name="top"></a>

## Table of Contents

### [Queries](#query)
#### [Functions](#query-function)
{{$query := .Query}}
{{range $query.Functions}}
- [{{.Name}}](#{{.Name}})
{{end}}
#### [Types](#query-type)
{{range $query.Types}}
- [{{.Name}}](#{{.Name}})
{{end}}
### [Mutations](#mutation)
#### [Functions](#mutation-function)
{{$mutation := .Mutation}}
{{range $mutation.Functions}}
- [{{.Name}}](#{{.Name}})
{{end}}
#### [Types](#mutation-type)
{{range $mutation.Types}}
- [{{.Name}}](#{{.Name}})
{{end}}


<a name="query"></a>
## Queries
<a name="query-function"></a>
### Functions
| Function Name | Parameters | Return | Description |
| ------------- | ---------- | ------ | ----------- |
{{range $query.Functions}}| <a name="{{.Name}}"></a> {{.Name}} | {{range .Parameters}}{{if .IsList}}[]{{end}}{{if .IsBuiltInType}}{{.ParamType}}{{else}}[{{.ParamType}}](#{{.ParamType}}){{end}}<br>{{end}} | [{{.ReturnType}}](#{{.ReturnType}}) |  {{.Comment}} |
{{end}}

<a name="query-type"></a>
### Types
{{range $query.Types}}
<a name="{{.Name}}"></a>
#### {{.Name}}
> {{.Comment}}


| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{range .Parameters}}| {{.Name}} | {{if .IsBuiltInType}}{{.ParamType}}{{else}}[{{.ParamType}}](#{{.ParamType}}){{end}} | {{if .IsList}}List{{end}} | {{.Comment}} |
{{end}}

{{end}}


<a name="mutation"></a>
## Mutations
<a name="mutation-function"></a>
### Functions
| Function Name | Parameters | Return | Description |
| ------------- | ---------- | ------ | ----------- |
{{range $mutation.Functions}}| <a name="{{.Name}}"></a> {{.Name}} | {{range .Parameters}}{{if .IsList}}[]{{end}}{{if .IsBuiltInType}}{{.ParamType}}{{else}}[{{.ParamType}}](#{{.ParamType}}){{end}}<br>{{end}} | [{{.ReturnType}}](#{{.ReturnType}}) |  {{.Comment}} |
{{end}}

<a name="mutation-type"></a>
### Types
{{range $mutation.Types}}
<a name="{{.Name}}"></a>
#### {{.Name}}
> {{.Comment}}


| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{range .Parameters}}| {{.Name}} | {{if .IsBuiltInType}}{{.ParamType}}{{else}}[{{.ParamType}}](#{{.ParamType}}){{end}} | {{if .IsList}}List{{end}} | {{.Comment}} |
{{end}}

{{end}}
