h1.{{.Name}}

h2.Table of Contents

{{$queries := .Queries}}
{{if $queries}}
h3.Queries
{{range $queries}}
* [{{.Name}}|#{{.Name}}]
{{end}}
{{end}}

{{$mutations := .Mutations}}
{{if $mutations}}
h3.Mutations
{{range $mutations}}
* [{{.Name}}|#{{.Name}}]
{{end}}
{{end}}

{{$definitions := .Definitions}}
{{if $definitions}}
h3.Types
{{range $definitions}}
* [{{.Name}}|#{{.Name}}]
{{end}}
{{end}}

{{if $queries}}
h2.Queries

{{range $queries}}

h3.{{.Name}}
{{if .Comment}}
_{{.Comment}}_
{{end}}

h4.Definition
||Return Type|{{if .IsScalar}}{{.Type}}{{else}}[{{.Type}}|#{{.Type}}]{{end}}|
||Scalar|{{if .IsScalar}}Yes{{else}}No{{end}}|
||Nullable|{{if .IsNullable}}Yes{{else}}No{{end}}|
||List|{{if .IsList}}Yes{{else}}No{{end}}|

h4.Parameters
|| Name || Type ||{{range .Parameters}}
|{{.Name}}|[{{.Type}}|#{{.Type}}]|{{end}}

{{if or .Example.Request .Example.Response}}
h4.Example
||Request||Response||
| {{.Example.Request}} | {{.Example.Response}} |
{{end}}

{{end}}
{{end}}

{{if $mutations}}
h2.Mutations

{{range $mutations}}

h3.{{.Name}}
{{if .Comment}}
_{{.Comment}}_
{{end}}

h4.Definition
||Return Type|{{if .IsScalar}}{{.Type}}{{else}}[{{.Type}}|#{{.Type}}]{{end}}|
||Scalar|{{if .IsScalar}}Yes{{else}}No{{end}}|
||Nullable|{{if .IsNullable}}Yes{{else}}No{{end}}|
||List|{{if .IsList}}Yes{{else}}No{{end}}|

h4.Parameters
|| Name || Type ||{{range .Parameters}}
|{{.Name}}|[{{.Type}}|#{{.Type}}]|{{end}}

{{if or .Example.Request .Example.Response}}
h4.Example
||Request||Response||
| {{.Example.Request}} | {{.Example.Response}} |
{{end}}

{{end}}
{{end}}

{{if $definitions}}
h2.Types

{{range $definitions}}
h3.{{.Name}}
{{if .Comment}}
_{{.Comment}}_
{{end}}
\\
*Variant:* {{"{{"}}{{.Variant}}{{"}}"}}

h4.Properties
{{if or (eq .Variant "Union") (eq .Variant "Enum")}}
||Name||Description||{{range .Properties}}
|{{.Name}}|{{.Comment}} |{{end}}
{{else}}
||Name||Type||Scalar||Nullable||List||Description||{{range .Properties}}
|{{.Name}}|{{if .IsScalar}}{{.Type}}{{else}}[{{.Type}}|#{{.Type}}]{{end}}|{{if .IsScalar}}Yes{{else}}No{{end}}|{{if .IsNullable}}Yes{{else}}No{{end}}|{{if .IsList}}Yes{{else}}No{{end}}|{{.Comment}} |{{end}}
{{end}}


{{end}}
{{end}}
